/* main content box */

.content {
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: var(--spacing-md);
    margin: var(--spacing-md);
}

/* latest rates */

.rates {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-sm);
}

ul {
    padding: var(--spacing-md);
}

li {
    display: flex;
    padding: var(--spacing-sm);
    width: 300px;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: space-between;
}

.fix {
    min-width: 100px;
}

.fix-flag {
    min-width: 50px;
}

/* converter */

.converter {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-sm);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
}

select {
    width: 200px;
    height: 30px;
    border-radius: 2.5px;
    margin: var(--spacing-sm);
    text-align: center;
    font-family: nunito;
}

label {
    padding: var(--spacing-xs);
}

@media screen and (max-width: 750px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        width: 200px;
    }
    .fix {
        min-width: 75px;
    }
}
