:root {
    /* colours */
    --grey: rgb(243, 244, 245);
    --navy: rgb(67, 71, 84);

    /* typography */
    --heading-alpha: 70px;
    --heading-bravo: 40px;

    /* spacing */

    --spacing-md: 20px;
    --spacing-sm: 10px;
    --font-spacing: 12px;
}

@media screen and (max-width: 960px) {
    :root {
        --heading-alpha: 60px;
        --heading-bravo: 30px;
        --spacing-md: 15px;
        --spacing-sm: 8px;
        --font-spacing: 10px;
    }
}

@media screen and (max-width: 750px) {
    :root {
        --heading-alpha: 40px;
        --heading-bravo: 20px;
        --spacing-md: 10px;
        --spacing-sm: 6px;
        --font-spacing: 8px;
    }
}
