@font-face {
    font-family: mont;
    src: url(../assets/fonts/MontserratAlternates-Bold.ttf) format("truetype");
}
@font-face {
    font-family: cabin;
    src: url(../assets/fonts/Cabin-Bold.ttf) format("truetype");
}
@font-face {
    font-family: nunito;
    src: url(../assets/fonts/Nunito-Light.ttf) format("truetype");
}

.heading--alpha {
    font-family: mont, sans-serif;
    font-size: var(--heading-alpha);
    color: var(--navy);
    padding: var(--font-spacing);
    text-align: center;
}

.heading--bravo {
    font-family: cabin, sans-serif;
    font-size: var(--heading-bravo);
    color: var(--navy);
    padding: var(--font-spacing);
    text-align: center;
}

p,
li,
label {
    font-family: nunito;
    font-size: var(--standard);
    text-align: center;
}
